body {
  padding-bottom: 100px;
  margin: 0;
}

.product-details {
  font-family: "Poppins", sans-serif;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.details-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  background-color: #fff;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #ff6600;
}

.nav-options button {
  margin-left: 10px;
  color: #333;
}

.details-image-container {
  position: relative;
  padding: 20px;
}

.details-image {
  width: 100%;
  border-radius: 16px;
}

.most-liked {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: #fff;
  padding: 8px 14px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.details-content {
  padding: 20px;
}

.details-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.details-heading h3 {
  margin: 0;
  font-size: 24px;
}

.details-heading p {
  margin: 0;
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
}

.details-price {
  text-align: right;
}

.details-price span {
  font-size: 20px;
  font-weight: bold;
}

.details-price p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.details-location {
  margin-top: 20px;
}

.location-address {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
  gap: 4px;
}

.location-address p {
  margin: 0 0 0 10px;
  font-size: 16px;
}
.location-address h3 {
  margin: 0;
  font-size: 18px;
  color: #53587a;
  font-weight: 400;
}
.map-image {
  width: 100%;
  border-radius: 10px;
}

.details-amenities {
  margin-top: 20px;
}

.amenities-tags {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.amenity-tag {
  font-size: 14px;
  border-radius: 20px;
  background-color: #f5f4f8;
  width: 20%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: #1f4c6b;
  font-size: 10px;
  font-weight: 600;
}

.amenity-tag {
  font-size: 14px;
  border-radius: 20px;
  width: 20%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: #1f4c6b;
  font-size: 10px;
  font-weight: 600;
}

.amenity-tag:nth-child(even) {
  background-color: #f5f4f8;
}

.amenity-tag:nth-child(odd) {
  background-color: #234f68;
  color: white;
}

.location-map {
  margin-bottom: 24px;
}

.details-nearby {
  display: flex;
  justify-content: space-between;
}

.nearby-tag {
  background-color: #f5f4f8;
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: #1f4c6b;
  font-size: 10px;
  font-weight: 600;
}

.map-button {
  width: 100%;
  background-color: #ff750426;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  color: #ff7504;
}

@media (max-width: 768px) {
  .details-header {
    padding: 10px;
  }

  .details-image-container {
    padding: 10px;
  }

  .most-liked {
    top: 20px;
    left: 20px;
  }

  .details-heading h3 {
    font-size: 20px;
  }
  .location-address h3 {
    font-size: 20px;
  }
  .details-heading p {
    font-size: 12px;
  }

  .details-price span {
    font-size: 18px;
  }

  .details-price p {
    font-size: 12px;
  }

  .details-amenities {
    margin-top: 10px;
  }

  .amenities-tags {
    gap: 5px;
    flex-wrap: wrap;
  }

  .amenity-tag {
    width: auto;
    font-size: 12px;
  }

  .location-map {
    margin-bottom: 16px;
  }

  .details-nearby {
    flex-direction: row;
    gap: 10px;
  }

  .map-button {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .details-header {
    flex-direction: column;
    padding: 8px;
  }

  .details-image-container {
    padding: 8px;
  }

  .details-image {
    height: auto;
  }

  .details-heading h3 {
    font-size: 16px;
  }

  .location-address h3 {
    font-size: 16px;
  }
  .details-heading p {
    font-size: 10px;
  }

  .details-price span {
    font-size: 16px;
  }

  .details-price p {
    font-size: 10px;
  }

  .amenities-tags {
    gap: 5px;
  }

  .amenity-tag {
    width: auto;
    font-size: 10px;
  }

  .location-map {
    margin-bottom: 12px;
  }
  .location-address p {
    margin: 0 0 0 10px;
    font-size: 16px;
  }
}
