.explore-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.explore-card {
  display: flex;
  flex-direction: column;
}
.explore-card-top {
  width: 220px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.explore-card-img {
  width: 220px;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
}
.explore-card-image {
  width: 220px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.explore-top-wrapper {
  position: absolute;
  width: 200px;
}
.explore-card-top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.liked {
  padding: 8px 14px;
  background: #fff;
  border-radius: 20px;
  font-size: 14px;
}
.explore-card-content {
  padding: 0px 20px 10px;
}
.explore-content-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.explore-content-internal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.explore-content-main-heading {
  margin-top: 10px;
  font-size: 16px;
  text-align: left;
  font-weight: 600;
}
.explore-content-main-subheading {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.explore-content-internal-span{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.animate{
  height: 65px;
  width: 65px;
  margin-top: -34px;
}